html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
form,
dl,
dd {
  margin: 0;
}

img {
  display: block;
  border: 0;
  width: 100%;
}

input,
button,
textarea,
select {
  padding: 0;
  font: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: $text-color;
  background-color: #fff;
}

body.lock {
  overflow: hidden;
  height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  max-width: 1610px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 0 auto;
  padding: 50px 0;
}

.link {
  transition: color 0.5s;
}

.link:hover {
  color: #000;
}